<h1>Gar&ccedil;ons</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!garcons"><em>Loading...</em></p>

<div class="row col-lg-12">
    <a class="btn btn-lg btn-default" *ngFor="let garcon of garcons" [routerLink]="['/garcom-tarefas', garcon.id]">
        <div class="col-lg-2">
            <div class="right small text-left"><small>Tarefas</small></div>
            <div class="left input-lg text-capitalize"><b>{{ garcon.nome}}</b></div>
            <div class="small text-center"><small>{{date | date:'dd/MM'}}</small></div>
        </div>
    </a>
</div>
