<h1>Gar&ccedil;ons</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!garcons"><em>Loading...</em></p>

<table class='table' *ngIf="garcons">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let garcon of garcons">
            <td>{{ garcon.id}}</td>
            <td>{{ garcon.nome}}</td>
        </tr>
    </tbody>
</table>
<div *ngFor="let garcon of garcons">
    <a class="btn btn-lg btn-default" (click)="VerTarefas(garcon.id)" >{{garcon.nome}}</a>
</div>
