.vs/
packages/
Cafe.AppConsole/obj/Debug/
Cafe.AppConsole/bin/Debug/
Cafe.Infra/obj/Debug/
Cafe.Infra/bin/Debug/
Cafe.Query/obj/Debug/
Cafe.Query/bin/Debug/
*.dll
Cafe.Query/obj/Cafe.Query.csproj.nuget.g.props
Cafe.Query/obj/Cafe.Query.csproj.nuget.cache
Cafe.Command/obj/Debug/netcoreapp2.0/Cafe.Command.pdb
Cafe.Infra/obj/project.assets.json
Cafe.Infra/obj/Cafe.Infra.csproj.nuget.g.props
Cafe.Infra/obj/Cafe.Infra.csproj.nuget.cache
Cafe.Domain/obj/project.assets.json
Cafe.Domain/obj/Debug/netcoreapp2.0/Cafe.Domain.pdb
Cafe.Domain/obj/Debug/netcoreapp2.0/Cafe.Domain.csproj.CoreCompileInputs.cache
Cafe.Domain/obj/Cafe.Domain.csproj.nuget.g.props
Cafe.Domain/obj/Cafe.Domain.csproj.nuget.cache
Cafe.Domain/bin/Debug/netcoreapp2.0/Cafe.Domain.pdb
Cafe.Contract/obj/project.assets.json
Cafe.Contract/obj/Debug/netcoreapp2.0/Cafe.Contract.pdb
Cafe.Contract/obj/Debug/netcoreapp2.0/Cafe.Contract.csproj.CoreCompileInputs.cache
Cafe.Contract/obj/Cafe.Contract.csproj.nuget.g.props
Cafe.Contract/obj/Cafe.Contract.csproj.nuget.cache
Cafe.Contract/bin/Debug/netcoreapp2.0/Cafe.Contract.pdb
Cafe.Command/obj/project.assets.json
Cafe.Command/obj/Debug/netcoreapp2.0/Cafe.Command.csproj.CoreCompileInputs.cache
Cafe.Command/obj/Cafe.Command.csproj.nuget.g.props
Cafe.Command/obj/Cafe.Command.csproj.nuget.cache
Cafe.Command/bin/Debug/netcoreapp2.0/Cafe.Command.pdb
Cafe.AppConsole/obj/project.assets.json
Cafe.AppConsole/obj/Cafe.AppConsole.csproj.nuget.g.props
Cafe.AppConsole/obj/Cafe.AppConsole.csproj.nuget.cache
Cafe.Query/obj/project.assets.json
Cafe.Contract/obj/Debug/netcoreapp2.0/Cafe.Contract.csprojResolveAssemblyReference.cache
Cafe.Command/obj/Debug/netcoreapp2.0/Cafe.Command.csprojResolveAssemblyReference.cache
Cafe.Domain/obj/Debug/netcoreapp2.0/Cafe.Domain.csprojResolveAssemblyReference.cache
