<h3>Tarefas da cozinha</h3>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!tarefas"><em>Loading...</em></p>

<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">A Preparar</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Preparados</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <table class='table' *ngIf="tarefas">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Menu#
                                    </th>
                                    <th>
                                        Descri&ccedil;&atilde;o
                                    </th>
                                    <th>
                                        Quantidade
                                    </th>
                                    <th>
                                        Observa&ccedil;&atilde;o
                                    </th>
                                    <th>
                                        Pedido
                                    </th>
                                    <th>Pronto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tarefa of tarefas">
                                    <td><input name="[{{ tarefa.pedidoItemId }}].PedidoItemId" type="hidden" value="{{ tarefa.pedidoItemId}}" />{{ tarefa.pedidoItemId }}</td>
                                    <td>{{ tarefa.menuItem.id}}</td>
                                    <td>{{ tarefa.menuItem.descricao}}</td>
                                    <td>{{ tarefa.quantidade}}</td>
                                    <td>{{ tarefa.descricao}}</td>
                                    <td>{{ tarefa.emPreparacao}}</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="MarcarComoPronto" class="checkbox form-control" value="{{ tarefa.marcarComoPronto}}" />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                    <td colspan="2" class="text-center">
                                        <button type="submit" class="btn btn-primary ">Marcar Como Servido</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Menu#</th>
                                    <th>Descri&ccedil;&atilde;o</th>
                                    <th>Quantidade</th>
                                    <th>Observa&ccedil;&atilde;o</th>
                                    <th>Servido</th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

