<h3>Tarefas da cozinha</h3>

<p *ngIf="!tarefas"><em>Loading...</em></p>

<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">A Preparar</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Preparados</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Menu#
                                    </th>
                                    <th>
                                        Descri&ccedil;&atilde;o
                                    </th>
                                    <th>
                                        Quantidade
                                    </th>
                                    <th>
                                        Observa&ccedil;&atilde;o
                                    </th>
                                    <th>
                                        Pedido
                                    </th>
                                    <th>Pronto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pendente of tarefas.tarefasPendente">
                                    <td><input name="[{{ pendente.pedidoItemId }}].PedidoItemId" type="hidden" value="{{ pendente.pedidoItemId}}" />{{ pendente.pedidoItemId }}</td>
                                    <td>{{ pendente.menuItem.id}}</td>
                                    <td>{{ pendente.menuItem.descricao}}</td>
                                    <td>{{ pendente.quantidade}}</td>
                                    <td>{{ pendente.descricao}}</td>
                                    <td>{{ pendente.emPreparacao}}</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="MarcarComoPronto" class="checkbox form-control" value="{{ pendente.marcarComoPronto}}" />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                    <td colspan="2" class="text-center">
                                        <button type="submit" class="btn btn-primary ">Marcar Como Servido</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Menu#</th>
                                    <th>Descri&ccedil;&atilde;o</th>
                                    <th>Quantidade</th>
                                    <th>Observa&ccedil;&atilde;o</th>
                                    <th>Servido</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let pronto of tarefas.tarefasPronta">
                                <td><input name="[{{ pronto.pedidoItemId }}].PedidoItemId" type="hidden" value="{{ pronto.pedidoItemId}}" />{{ pronto.pedidoItemId }}</td>
                                <td>{{ pronto.menuItem.id}}</td>
                                <td>{{ pronto.menuItem.descricao}}</td>
                                <td>{{ pronto.quantidade}}</td>
                                <td>{{ pronto.descricao}}</td>
                                <td>{{ pronto.emPreparacao}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

