<h2>Mesas</h2>

<p *ngIf="!mesas"><em>Loading...</em></p>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <a class="btn btn-lg btn-default" *ngFor="let mesa of mesas" [routerLink]="['/mesa-status', mesa.id]">
                <div class="col-lg-2">
                    <div class="right small text-left"><small>{{ mesa.garcom.nome}}</small></div>
                    <div class="left input-lg text-capitalize"><b>{{ mesa.numMesa}}</b></div>
                    <div class="right small text-left"><small>{{ mesa.dataServico}}</small></div>
                </div>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="left" style="float:left">
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Adicionar Mesa</a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="left" style="float:left">
                <mesa-abrir-form></mesa-abrir-form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>
