<h1>Mesas</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!mesas"><em>Loading...</em></p>

<div class="row col-lg-12">
    <a class="btn btn-lg btn-default" *ngFor="let mesa of mesas"  [routerLink]="['/mesa-status', mesa.id]">
        <div class="col-lg-2">
            <div class="right small text-left"><small>{{ mesa.garcom.nome}}</small></div>
            <div class="left input-lg text-capitalize"><b>{{ mesa.numMesa}}</b></div>
            <div class="right small text-left"><small>{{ mesa.dataServico}}</small></div>
        </div>
    </a>
</div>

